/* line 4, app/assets/stylesheets/posts.scss */
.unliked-btn {
  color: #8899a6;
}

/* line 10, app/assets/stylesheets/posts.scss */
.liked-btn {
  color: #ff2581;
}

/* line 16, app/assets/stylesheets/posts.scss */
.fa {
  font-size: 16px;
  margin-right: 3px;
}

/* line 23, app/assets/stylesheets/posts.scss */
.search-form {
  margin-top: -10px;
  margin-bottom: 20px;
}

/* line 28, app/assets/stylesheets/posts.scss */
.posts-index-item {
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

/* line 36, app/assets/stylesheets/posts.scss */
.post-lecture-info {
  padding-left: 30px;
}

/* line 46, app/assets/stylesheets/posts.scss */
.form-short {
  width: 30%;
}

/* line 51, app/assets/stylesheets/posts.scss */
.img-area {
  padding-top: 10px;
}

/* line 56, app/assets/stylesheets/posts.scss */
.btn-wrapper {
  float: right;
}

/* line 61, app/assets/stylesheets/posts.scss */
.comment-area {
  text-align: left;
}

/* line 65, app/assets/stylesheets/posts.scss */
.new-sread {
  border-top: dashed black;
  margin-top: 20px;
}
