// .unliked-btnのcolorを「#8899a6」にしてください
.unliked-btn{
  color:#8899a6;
}


// .liked-btnのcolorを「#ff2581」にしてください
.liked-btn{
  color:#ff2581;
}


// ここに指定されたCSSを貼り付けてください
.fa {
  font-size: 16px;
  margin-right: 3px;
}

