.top-wrapper{
  color:#fff;
  background-image: url("/169653_sub02.jpeg");
  background-size:cover;
}

.top-container{
  background-color:rgba(255,255,255,0.2);
  
}

.center{
  padding:180px 0px 100px 0px;
  font-weight:bold;
}


#top-main-title{
  font-weight:bold;
  font-style:italic;
}


.to-students{
  padding-top:30px
}


.btn{
  color:white;
  opacity: 0.8;
}

.btn:hover{
  color:white;
  opacity: 1.0;
}

.btn-post-index{
  background-color: #55acee;
  
}

.btn-new-user{
  background-color:#77F9C3;
}

.btn-guest-admin{
  background-color:#FFABCE;
  font-size:14px;
  line-height:20px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  padding-top:6px;
}

.btn-guest{
  background-color:#FFAD90;
  font-size:14px;
  line-height:20px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  padding-top:6px;
}

