<header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <%=link_to "授業紹介アプリ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "トップ", root_path, class:"header-list" %></li>
      </ul>
      
      

    </nav>
  </div>
</header>